[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pubmed-bibtex = {editable = true, path = "."}

[dev-packages]
pylint = ">=2.3.0,<3"
pytest = "<5"
pytest-cov = "<3,>=2"
"autopep8" = "<2"

[requires]
python_version = "3"
